.wrapper {
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    width: 450px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
